<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" />
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
    <!-- js -->
    <script th:src="@{/bootstrap.bundle.min.js}"></script>
    <title>Hello, sbb!</title>
  </head>
  <body>
    <!-- th:fragment="이름" 으로 공통 태그부분 작성 -->
    <div
      th:fragment="formErrors"
      class="alert alert-danger"
      role="alert"
      th:if="${#fields.hasAnyErrors()}"
    >
      <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
    </div>

    <!-- 네브바 -->
    <nav
      th:fragment="nav"
      class="navbar navbar-expand-md navbar-light bg-light border-bottom"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/">SBB</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">로그인</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
