<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="layout::head"></head>
  <body>
    <!-- 네브바 -->
    <nav th:replace="layout::nav"></nav>
    <div class="container my-3">
      <h5 class="border-bottom pb-2">질문등록</h5>
      <form
        th:action="@{/question/create}"
        th:object="${questionForm}"
        method="post"
      >
        <!-- 에러 -->
        <div th:replace="layout::formErrors"></div>
        <div class="mb-3">
          <label for="subject" class="form-label">제목</label>
          <input
            type="text"
            name="subject"
            th:field="*{subject}"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">내용</label>
          <textarea
            name="content"
            th:field="*{content}"
            class="form-control"
            rows="10"
          ></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2" />
        <!-- 취소버튼 -->
        <a th:href="@{/question/list}" class="btn btn-danger my-2">취소</a>
      </form>
    </div>
  </body>
</html>
